@import url("../normalize.css");

body{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  max-width: 1002px;
  margin: 0 auto;
}

header{
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  font-size: 0.8em;
}

.fb{
  font-size: 10px;
  text-decoration: none;
  color: rgb(68,96,160);
  margin-right: 1%;
}

.twitter{
  font-size: 10px;
  text-decoration: none;
  color: rgb(0,170,236);
  margin-right: 1%;
}


nav{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

h1{
  background-image: url(https://github.com/ailiyi/practice/blob/master/hw/hw1/img/%E4%BD%BF%E7%94%A8html%E5%81%9A%E7%B6%B2%E7%AB%99-_03.jpg?raw=true);
  background-repeat: no-repeat;
  width: 170px;
  height: 36px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: flex-end;
}

nav li a{
  text-decoration: none;
  text-align: center;
  font-size: 3vmin;
  color: rgb(68,218,180);
  margin: 0 2% 0 0;
  display: block;
  width: 100%;
  margin: 10px;
}

nav li a:hover{
  background-color: rgb(68,218,180);
  color: #fff;
  border-radius: 10px;
  padding: 3px;
}


banner{
  grid-column: 1/4;
  grid-row: 3/11;
}

banner img{
  max-width: 100%;
  height: auto;
}

main{
  grid-column: 1/4;
  grid-row: 11/16;
  display: flex;
  justify-content: space-around;
}

figure{
  box-shadow: 0px 5px 10px -2px rgb(182, 181, 181);
  padding: 15px;
}

.html5, .rwd, .jquery{
  width: 33.3333%;
  text-align: center;
}

.html5-img{
  max-width: 100%;
  height: auto;
}

.rwd-img{
  margin: 25px 0 25px 0;
  max-width: 100%;
  height: auto;
}

.jquery-img{
  margin: 8px 0 8px 0;
  max-width: 100%;
  height: auto;
}

.jquery ul{
  text-align: left;
}

table{
  grid-column: 1/4;
  grid-row: 21/29;
  border-collapse: collapse;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

table th{
  padding-right: 15%;
  width: 30%;
  text-align: left;
}

table td{
  padding: 2%;
  width: 200px;
}

table th, table td{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.table-h2 td{
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #000;
  border-top:1px solid #fff;
  padding: 30px;
}

table .strong{
  font-weight: bold;
}

table .highlight{
  color: rgb(68,218,180);
}

.reply{
  background: linear-gradient(#00654b,#009771);
  grid-column: 1/4;
  grid-row: 29/38;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reply h2{
  text-align: center;
  color: #fff;
  width: 100%;
}

textarea{
  width: 45%;
  margin: 15px;
  border-radius: 5px;
  border:none;
  color: #000;
}

form{
  width: 45%;
}

form input{
  display: block;
  width: 80%;
  height: 25px;
  margin: 10px;
  color: #000;
  border: none;
  border-radius: 5px;
}

form label{
  color: #fff; 
}

.submit{
  float: right;
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: #00cc99;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.submit:hover{
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
footer{
  grid-column: 1/4;
  grid-row: 38/41;
  margin-top: 10px;
}

footer img{
  float: left;
}

address{
  float: right;
  font-size: 12px;
  line-height: 0.5em;
  color: #000;
}

address span{
  color: #e12d80;
}

@media(max-width:768px){
  main{
    flex-wrap: wrap;
  }
  .html5, .rwd, .jquery{
    width: 70%;
    text-align: center;
  }
}
